.Experience{
    &__experience{
        margin: auto;
        width: 50%;
        margin-top: 15vh;
        margin-bottom: 15vh;

        &__section{
            margin-bottom: 10vh;
        }
    }

}
