@import './Variables.scss';

.Home{
    &__intro{

        display: flex;

        &__img{
            border-radius: 50%;
            margin: 2rem;
            border: 5px solid $base-color;
            width: 30rem;
            height: 30rem;
        }

        &__description{
            margin: 3rem;

            &__text{
                font-size: 1.5rem;
                color: $text-color;
                background-color: $base-color;
                padding: 1rem;
                border-radius: 10px;
            }
        }
    }

    &__links{
        display: flex;
        justify-content: center;
        margin-top: 5vh;
    }

    &__skills{
        margin: auto;
        width: 50%;
        margin-top: 15vh;
        margin-bottom: 15vh;
    }
}
