@import './Variables.scss';

.Navbar{

    background-color: $base-color;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 3;

    &__header{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding: 2vh 0;

        &__name{
            color: $text-color;
            display: inline;
            flex-basis: 30vw;
            font-size: 2.5rem;
            margin: 0;
            font-weight: bold;
        }

        &__link{
            color: $text-color;
            font-size: 1.5rem;
            margin: 0;
            transition: all .5s; 
            box-shadow: none;
            padding: .3rem .5rem;
            border-radius: 10px;
        }
    }
    
}

a{
    text-decoration: none;
}


