@import './Variables.scss';

.ProjectLink{
    &__link{
        display: flex;
        align-items: center;
        margin: 0rem 1rem 1rem 0rem;
        padding: .3rem .5rem .3rem .3rem;
        border-radius: 10px; 
        background-color: $light-purple;
        box-shadow: none;
        cursor: pointer;
        transition: all .5s; 
        color: $text-color;
        
        &__icon{
            width: 3rem;
            height: 3rem;
            margin-right: .2rem;
        }

        &__name{
            color: text-color;
            font-size: 1.5rem;
        }

        &:hover{
            transform: scale(1.05);
            box-shadow: 0 1rem 3rem rgba(0,0,0,.25);
            background-color: $light-blue;
        }
    }
}
