@import './Variables.scss';

.ProjectsSection{
    margin-bottom: 3rem;

    &__header{
        background-color: $base-color;
        padding: 1rem 1rem;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px 15px 0px 0px;
        transition: all .5s;
        cursor: pointer;

        &__left{
            display: flex;
            align-items: center;

            // &__img{
            //     width: 6rem;
            //     height: 6rem;
            //     border-radius: 15px;
            //     margin: 1rem;
            // }

            &__desc{
                &__name{
                    font-size: 1.5rem;
                }

                &__duration{
                    font-size: 1rem;
                }

                &__name, &__duration{
                    color: $text-color;
                }
            }
        }

        &__downPointer{
            width: $downPointer-width;
            height: $downPointer-height;
            transition: all .5s; 
        }

    }

    &__content{
        background-color: $base-color;
        transform: scaleX(1.05);
        border-radius: 0px 0px 15px 15px;

        &__description{
            padding: 1rem 1rem;

            &__paragraph{
                font-size: 1rem;
                margin: .5rem 0rem;
                color: $text-color;
            }
        }

        &__skills{
            border-top: 3px solid $text-color;
            padding: 1rem 1rem;

            &__list{
                display: flex;
                flex-wrap: wrap;
            }
        }

        &__links{
            border-top: 3px solid $text-color;
            padding: 1rem 1rem;

            &__list{
                display: flex;
                flex-wrap: wrap;
            }
        }
    }   
}
