@import './Variables.scss';

.Resume{
    @include pageSettings;

    @media only screen and (max-width: 850px) {
        height: 700px;
    }

    &__Container{
        @media only screen and (max-width: 850px) {
            display: none;
        }

        &__iframe{
            width: 100%;
            height: 900px;
        }
    }

    &__link{
        display: none;
        
        @media only screen and (max-width: 850px) {
            display: flex;
            justify-content: center;
        }
    }
}
