@import './Variables.scss';

.SkillsList{
    margin-top: 3rem;

    @media only screen and (max-width: 750px) {
        margin-top: 1.5rem;
    }

    &__header{
        background-color: $base-color;
        padding: 1rem 1rem;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px 15px 0px 0px;
        transition: all .5s;
        cursor: pointer;

        @media only screen and (max-width: 500px) {
            padding: .5rem .5rem;
        }

        &__text{
            font-size: 2rem;
            text-align: center;
            margin: 0;
            color: $text-color;

            @media only screen and (max-width: 700px) {
                font-size: 1.5rem;
            }
        }

        &__downPointer{
            @include downPointerProps;
        }

    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
        background-color: $base-color;
        padding: 1rem 1rem;
        transform: scaleX(1.05);
        border-radius: 0px 0px 15px 15px;
    }
}
