@import './Variables.scss';

.SkillsList{
    margin-top: 3rem;

    &__header{
        background-color: $base-color;
        padding: 1rem 1rem;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px 15px 0px 0px;
        transition: all .5s;
        cursor: pointer;

        &__text{
            font-size: 2rem;
            text-align: center;
            margin: 0;
            color: $text-color;
        }

        &__downPointer{
            @include downPointerProps;
        }

    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 10px;
        background-color: $base-color;
        padding: 1rem 0rem;
        transform: scaleX(1.05);
        border-radius: 0px 0px 15px 15px;
    }
}
