@import './Variables.scss';

.SocialLink{
    &__link{
        display: flex;
        align-items: center;
        margin: 0rem 2rem;
        padding: .5rem .5rem .5rem .5rem;
        border-radius: 10px; 
        
        // &__icon{
        //     width: 3rem;
        //     height: 3rem;
        //     margin-right: .2rem;
        // }

        &__name{
            color: $text-color;
            font-size: 1.7rem;
        }

        @include pageButtonNotHover;
        @include pageButtonHover;
    }
}
