@mixin pageButtonHover {
    &:hover{
        transform: scale(1.05);
        box-shadow: 0 1rem 3rem rgba(0,0,0,.25);
        background-color: var(--hover-color);
    }
}

@mixin pageButtonNotHover {
    background-color: var(--base-color);
    box-shadow: none;
    cursor: pointer;
    transition: all .5s;  
}
