@import '../../Variables.scss';

.ExperienceSection{
    margin-bottom: 3rem;

    &__header{
        background-color: $base-color;
        padding: 1rem 1rem;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px 15px 0px 0px;
        transition: transform .5s, box-shadow .5s, background-color .5s;
        cursor: pointer;

        @media only screen and (max-width: 500px) {
            padding: .5rem .5rem;
        }

        &__downPointer{
            @include downPointerProps;
        }

        &__position{
            &__org, &__title{
                font-size: 1.5rem;

                @media only screen and (max-width: 750px) {
                    font-size: 1.2rem;
                }
            }

            &__duration, &__loc__name{
                font-size: 1rem;
            }

            &__title, &__duration, &__loc__name{
                color: $text-color;
            }

            &__title{
                font-weight: bold;
            }

            &__org{
                color: $text-color;
                border-radius: 10px;

                @media only screen and (max-width: 750px) {
                    border-radius: 5px;
                }
            }

            &__loc{
                display: flex;
                align-items: center;

                &__icon{
                    width: 1rem;
                    height: 1rem;
                    margin-right: .5rem;

                    @media only screen and (max-width: 750px) {
                        width: .7rem;
                        height: .7rem;
                    }
                }

            }

            &__duration{
                display: flex;
                align-items: center;

                &__icon{
                    width: 1rem;
                    height: 1rem;
                    margin-right: .5rem;

                    @media only screen and (max-width: 750px) {
                        width: .7rem;
                        height: .7rem;
                    }
                }

            }
        }
    }

    &__content{
        background-color: $base-color;
        border-radius: 0px 0px 15px 15px;
        transform: translateY(-11px);

        &__description{
            padding: 1rem;

            &__point{
                font-size: 1rem;
                color: $text-color;

                @media only screen and (max-width: 700px) {
                    font-size: .8rem;
                }
            }

            @media only screen and (max-width: 500px) {
                padding: .5rem;
            }
        }

        &__skills{
            padding: 1rem;

            @media only screen and (max-width: 500px) {
                padding: .5rem;
            }

            &__list{
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}
