@import './Variables.scss';

.App{
  background-image: linear-gradient(to right, $background-left, $background-right);
  width: 100%;
  min-height: 1000px;

  &__content{
    position: relative;
  }
}


