@import './Styles/Variables.scss';

.App{
  background-image: linear-gradient($light-blue, $light-purple);
  height: 100%;
  width: 100%;

  &__footer{
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;

    &__creator{
      color: $text-color;
      margin-right: 2rem;
    }

    &__sources{
      color: $text-color;
      text-decoration: underline;
    }
  }

  &__content{
    position: relative;
  }

}


