@import './Variables.scss';

.App{
  background-image: linear-gradient(to right, $background-blue, $background-purple);
  width: 100vw;
  min-height: 1000px;

  &__content{
    position: relative;
  }
}


