body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --dark-blue: #0047b3;
  --light-blue: #4dacff;
  --lighter-blue: #f0f8ff;
  --hover-color: #0066ff;
}
